@charset "utf-8";
/* CSS Document */

body {
	font: 80%/1.4 Arial;
	background: #F1F1EE;
	margin: 0;
	padding: 0;
	color: #000;
}
#outer{
	position:absolute;
	width:960px;
	height:650px;
	left:50%;
	top:50%;
	margin-left:-480px;
	margin-top:-325px;
	overflow:hidden;
}
#container {
	display:table;
	width: 960px;
	height: 650px;
	background-color: #FFFFFF;
	margin: 0 auto; 
	position: relative;
}
h1 {
	color: #EE3224;
	margin-top: 5;	 
	padding-right: 18px;
	line-height: 110%;
}
h2, h3, h4, h5, h6, {
	line-height: 110%;
}
p {
	font-size: 16px;
}
@font-face {
    font-family: heading-font;
    src: url(fonts/orator_std.otf);
}
.title {
	font-family: heading-font;
	color: #EE3224;
	margin-top: 10px;	 
	margin-left: 18px;
	margin-right: 18px;
	font-size: 32px;
	line-height: 110%;
}
.subtitle {
	font-family: heading-font;
	color: #006DB6;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 10px;	 
	margin-left: 18px;
	font-size: 22px;
	line-height: 110%;
}
.header {
	background-color: #CCCCCC;
	width: 960px;
	height: 65px;
}

.content_main {
	position: absolute;
	width: 600px;
	margin-left: 18px; 
	height: 410px;
	overflow-y: auto;
}
.img-right {
	position: absolute;
	bottom: 60px;
	width: 330px;
	right: 0px;
}
#nav-bar {
	display: table;
	width: 800px;
	font-family:heading-font;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	margin-left: 13px;
	border-spacing: 5px 0px;
}
#nav-bar .text {
	font-family:heading-font;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 110%;
}
#nav-bar .tab1 {
	display: table-cell;
	background-color: #006DB6;
	width: 12%;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar .tab2 {
	display: table-cell;
	background-color: #00AFAF;
	width: 12%;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar .tab3 {
	display: table-cell;
	background-color: #008C46;
	width: 12%;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar .tab4 {
	display: table-cell;
	background-color: #E08600;
	width: 12%;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar .tab5 {
	display: table-cell;
	background-color: #EE3F36;
	width: 12%;
	height: 50px;
	vertical-align: middle;	
	cursor: pointer; 
}
#nav-bar .tab6 {
	display: table-cell;
	background-color: #B13A9C;
	width: 12%;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar .tab1_selected {
	display: table-cell;
	background-color: #006DB6;
	width: 12%;
	height: 60px;
	vertical-align: middle;
}
#nav-bar-bottom {
	position: absolute;
	bottom: 0px;
	display: table;
	width: 100%;
	font-family:heading-font;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 100%;
}
#nav-bar-bottom .text {
	font-family:heading-font;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	line-height: 110%;
}
#nav-bar-bottom .tab1 {
	display: table-cell;
	background-color: #F93228;
	width: 20%;
	height: 55px;
	padding-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar-bottom .tab2 {
	display: table-cell;
	background-color: #F95E56;
	width: 20%;
	height: 55px;
	padding-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar-bottom .tab3 {
	display: table-cell;
	background-color: #F9766F;
	width: 20%;
	height: 55px;
	padding-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar-bottom .tab4 {
	display: table-cell;
	background-color: #F98A84;
	width: 20%;
	height: 55px;
	padding-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar-bottom .tab5 {
	display: table-cell;
	background-color: #F9A29D;
	width: 20%;
	height: 55px;
	padding-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}
#nav-bar-bottom .tab1_selected {
	display: table-cell;
	background-color: #F93228;
	width: 20%;
	height: 55px;
	padding-left: 10px;
	vertical-align: middle;
}
#img_diary {
	position: absolute;
	top: 45px;
	right: 10px;
	cursor: pointer;
}
#intro_panel {
	position: absolute;
	left: 75px;
	top: 100px;
}
#intro_panel .bg {
	position: absolute;
    background: #FFFFFF;
    width: 800px;
	height: 470px;
    border-radius: 25px;
	box-shadow: 0px 0px 20px #666666;
}
#intro_panel .text {
	color: #EE3224;
	margin-left: 25px;
	margin-top: 25px;
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	width: 450px;
}
#intro_panel .pic {
	position: absolute;
	width: 300px;
	right: 15px;
	bottom: 15px;	
}
#intro_panel .pointer {
	position: relative;
	left: 60px;
	top: 470px;
}
#intro_panel .close {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}
#learning_panel {
	position: absolute;
	right: 330px;
	top: 195px;
}
#learning_panel .bg {
	position: absolute;
    background: #006DB6;
    width: 330px;
	height: 120px;
    border-radius: 25px 0px 0px 25px;
}
#learning_panel .text {
	color: #FFFFFF;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-style: italic;
	text-align: left;
	line-height: 120%;
}
#your_turn_panel {
	position: absolute;
	right: 0px;
	bottom: 65px;
	max-height: 500px;
	background: #31ACFF;
    width: 330px;
    border-radius: 25px 0px 0px 25px;
}
#your_turn_panel .pic {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;	
}
#your_turn_panel .heading {
	display: inline-block;
	vertical-align: 5px;
	color: #FFFFFF;
	font-family:heading-font;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	line-height: 100%;
}
#your_turn_panel .text {
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: left;
	line-height: 110%;
}
#tip_panel {
	position: relative;
	left: 10px;
	bottom: 10px;
	max-height: 300px;
	background: #A3D9FF;
    width: 310px;
    border-radius: 15px;
}
#tip_panel .text {
	display: inline-block;
	color: #000000;
	margin: 10px;
	font-size: 12px;
	font-style: italic;
	text-align: left;
	line-height: 110%;
}