@charset "utf-8";
/* CSS Document */

body {
	font: 80%/1.4 Arial;
	background: #F1F1EE;
	margin: 0;
	padding: 0;
	color: #000;
}
#outer{
	position:absolute;
	width:960px;
	height:650px;
	left:50%;
	top:50%;
	margin-left:-480px;
	margin-top:-325px;
	overflow:hidden;
}
#container {
	display:table;
	width: 960px;
	height: 650px;
	background-color: #FFFFFF;
	margin: 0 auto; 
	position: relative;
}

#questionaire {
	display: none;
	width: 100%;
	height: 100%;
}
#questionaire .close-btn{
	position:absolute;
	left:666px;
	top:115px;
}

#content-nav{
	display:none;
	position:absolute;
	left:19px;
	top:438px;
	width:601px;
	color:#006DB6;
	font-family:heading-font;
	font-size:18px;
}
#content-nav a{
	color:#006DB6;
	text-decoration:none;
}
#content-nav a:hover{
	color:#00ADE6;
}
#content-nav .back-btn{
	float:left;
	background-image:url(images/back_arrow.png);
	background-repeat:no-repeat;
	width: 100px;
	padding-left: 20px;
	background-position: left center; 
	
}
#content-nav .next-btn{
	float:right;
	background-image:url(images/next_arrow.png);
	background-repeat:no-repeat;
	text-align:right;
	color:#006DB6;
	width: 100px;
	padding-right: 20px;
	background-position: right center; 
}

h1 {
	color: #EE3224;
	margin-top: 5;	 
	padding-right: 18px;
	line-height: 110%;
}
h2, h3, h4, h5, h6, {
	line-height: 110%;
}
p {
	font-size: 16px;
}
.italic {
	font-size:11px;
	font-style:italic;
	color: #000000;
	line-height: 110%;
}
.bold {
	font-size:18px;
	font-weight: bold;
	color: #000000;
	line-height: 110%;
}
.panel_bold {
	font-size:16px;
	font-weight: bold;
	color: #000000;
	line-height: 110%;
}
.click_bold {
	font-size:12px;
	font-weight: bold;
	color: #000000;
	line-height: 110%;
}
.bullet {
	font-family: bullet-font;
	font-size:18px;
	font-weight: bold;
	color: #000000;
	line-height: 80%;
}
.scrollpanel {
	height:348px;
	overflow-y: scroll;
	font-size:16px;
	color: #000000;
	line-height: 120%;
}
.scrollitem {
	font-size:16px;
	padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
	color: #000000;
	background-color: #FEE8E7;
	border-top-style: none;
    border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
    border-width: 1px;
}
.scrollitemlast {
	font-size:16px;
	padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
	color: #000000;
	background-color: #FEE8E7;
}
.scrollitem a:hover{
	font-size:16px;
	color: #000000;
	background-color:#FAB9B5;
}
@font-face {
    font-family: heading-font;
    src: url(fonts/orator_std.otf);
}
@font-face {
    font-family: diary-font;
    src: url(fonts/LUCIDA_H.TTF);
}
@font-face {
    font-family: bullet-font;
    src: url(fonts/wingding.ttf);
}
a:link {
	font-weight: bold;
    color: #990033;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
    color: #990033;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
    color: #EE3224;
	text-decoration: underline;
}
a:active {
	font-weight: bold;
    color: #EE3224;
	text-decoration: none;
}
.a {
	font-weight: bold;
    color: #990033;
	text-decoration: none;
}
.title {
	font-family: heading-font;
	color: #EE3224;
	margin-top: 10px;
	margin-right: 18px;	 
	margin-left: 18px;
	font-size: 32px;
	line-height: 110%;
}
.subtitle {
	font-family: heading-font;
	color: #006DB6;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 10px;	 
	margin-left: 18px;
	font-size: 22px;
	line-height: 110%;
}
.subheading {
	font-family: heading-font;
	color: #006DB6;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 10px;	 
	font-size: 22px;
	line-height: 110%;
}
.clickable {
	font-family: heading-font;
	color: #006DB6;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 10px;	 
	font-size: 18px;
	line-height: 110%;
}
.clickable-red {
	font-family: heading-font;
	color: #990033;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 10px;	 
	font-size: 18px;
	line-height: 110%;
}
.clickable-red a{
	font-family: heading-font;
	color: #990033;
	text-decoration: none;
}
.clickable-red a:link{
	font-family: heading-font;
	color: #990033;
	text-decoration: none;
}
.clickable-red a:hover{
	font-family: heading-font;
	color: #EE3224;
	text-decoration: underline;
}
.bullet {
	font-family: heading-font;
	font-size:20px;
	font-weight: bold;
	color: #000000;
	line-height: 80%;
}
.header {
	position:absolute;
	left:0px;
	top:0px;
	background: #CCCCCC;
	width: 960px;
	height: 65px;
}

.nav_btns{
	display:none;
	position:absolute;
	right:0px;
	top:10px;
	width: 150px;
}

.nav_btn{
	padding:0 5px
}

.content_main {
	position: absolute;
	width: 600px;
	margin-left: 18px; 
}

.img-right {
	position: absolute;
	bottom: 60px;
	width: 330px;
	right: 0px;
}

.img-left {
	display:none;
	position: absolute;
	bottom: 60px;
	width: 330px;
	left: 0px;
}

#nav-bar{ 
	display:none;
	position:absolute;
	top:65px;
	font-family:heading-font;
	width: 850px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	margin-left: 13px;
}
   
#nav-bar ul {  
	padding: 0;  
	margin: 0;  
}

#nav-bar li {  
    display:inline; 
	line-height:3;
}

#nav-bar .tab1 {
	background-color: #006DB6;
}

#nav-bar .tab2 {
	background-color: #00AFAF;
}

#nav-bar .tab3 {
	background-color: #008C46;
}

#nav-bar .tab4 {
	background-color: #BBAF00;
}

#nav-bar .tab5 {
	background-color: #E08600;
}

#nav-bar .tab6 {
	background-color: #EE3F36;
}

#nav-bar .tab7{
	background-color: #BF2B7D;
}

#nav-bar .tab8 {
	background-color: #8D3198;
}

#nav-bar .tab9 {
	background-color: #F93228;
}
#nav-bar a {  
	text-decoration: none;  
	display: inline-block; 
	background-color: #006DB6;
	color:#fff; 
	float: left;  
	width: 95px;  
	height: 50px;  
	text-align: center; 
	margin-top:auto;
	margin-bottom:auto;
	margin-right:5px; 
} 

#nav-bar a:hover {  
	height: 55px !important;  
}

.pagecontent{
	display:none;
	position:absolute;
	top:120px;
}

#nav-bottom{ 
	position: absolute;
	bottom: -60px;
	font-family:heading-font;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
}
   
#nav-bottom ul {  
	padding: 0;  
	margin: 0;  
}

#nav-bottom li {  
    display:inline; 
	line-height:0.9em;
}

#nav-bottom .tab1 {
	background-color: #006DB6;
}

#nav-bottom .tab2 {
	background-color: #00AFAF;
}

#nav-bottom .tab3 {
	background-color: #008C46;
}

#nav-bottom .tab4 {
	background-color: #E08600;
}

#nav-bottom .tab5 {
	background-color: #EE3F36;
}

#nav-bottom a {  
	text-decoration: none;  
	display: inline-block; 
	background-color: #006DB6;
	color:#fff; 
	float: left;  
	width: 192px;  
	height: 55px;  
	text-align: center; 
} 

#nav-bottom a:hover {  
	margin-top:-5px !important;
	height: 60px !important;  
}

#img_diary {
	display:none;
	position: absolute;
	top: 45px;
	right: 10px;
	cursor: pointer;
}
#intro_panel {
	display:none;
	position: absolute;
	left: 75px;
	top: 100px;
}
#intro_panel .bg {
	position: absolute;
    background: #FFFFFF;
    width: 800px;
	height: 470px;
    border-radius: 25px;
	box-shadow: 0px 0px 20px #666666;
}
#intro_panel .text {
	color: #EE3224;
	margin-left: 25px;
	margin-top: 25px;
	font-size: 16px;
	text-align: left;
	line-height: 110%;
	width: 450px;
	height: 420px;
	overflow-y:auto;
}
#intro_panel .pic {
	position: absolute;
	width: 300px;
	right: 15px;
	bottom: 15px;	
}
#intro_panel .pointer {
	position: relative;
	left: 60px;
	top: 470px;
}
#intro_panel .close {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}
#intro{
	position:absolute;
	top:60px;
}
#learning_panel {
	display:none;
	position: absolute;
	right: 330px;
	top: 195px;
}
#learning_panel .bg {
	position: absolute;
    background: #006DB6;
    width: 330px;
	height: 170px;
    border-radius: 25px 0px 0px 25px;
}
#learning_panel .text {
	color: #FFFFFF;
	margin-left: 15px;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	line-height: 120%;
}
#your_turn_panel {
	display:none;
	position: absolute;
	right: 0px;
	bottom: 65px;
	max-height: 500px;
	background: #31ACFF;
    width: 330px;
    border-radius: 25px 0px 0px 25px;
}
#your_turn_panel .pic {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;	
}
#your_turn_panel .heading {
	display: inline-block;
	vertical-align: 5px;
	color: #FFFFFF;
	font-family:heading-font;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	line-height: 100%;
}
#your_turn_panel .text {
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	text-align: left;
	line-height: 110%;
}
#tip_panel {
	position: relative;
	left: 10px;
	bottom: 10px;
	max-height: 300px;
	background: #A3D9FF;
    width: 310px;
    border-radius: 15px;
}
#tip_panel .text {
	display: inline-block;
	color: #000000;
	margin: 10px;
	font-size: 14px;
	font-style: italic;
	text-align: left;
	line-height: 110%;
}
#start_course{
	display:none;
	position:absolute;
	right:0px;
	bottom:0px;
	width:181px;
	height:50px;
	cursor:pointer;
}
#start_course .text{
	position:absolute;
	left:74px;
	top:6px;
	font-family:heading-font;
	color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height:18px;
}
.spacing3{
	font-size:5px;
	line-height:5px;
}
.spacing2{
	font-size:10px;
	line-height:10px;
}
#container .login{
	position:absolute;
	right:10px;
	top:17px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#fff;
}
#container .login a{
	text-decoration:none;
	color:#fff;
}
#container .login a:hover{
	color:#f00;
}
#login{
	display:none;
	position:absolute;
	left:0px;
	top:65px;
	width:960px;
	height:585px;
	font-family:heading-font;
	color:#000f;
	font-size:18px;
	background:#fff;
}
#login .error{
	display:none;
	position:absolute;
	left:657px;
	top:257px;
	width:220px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #f00;
}
#login .label1{
	position:absolute;
	left:312px;
	top:121px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
#login .label2{
	position:absolute;
	left:312px;
	top:212px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
#login .submitBtn{
	position:absolute;
	left:420px;
	top:330px;
	width: 122px;
	height: 40px;
	color: #fff;
	font-size:22px;
	font-family:heading-font;
	background: #f9766f;
	border:none;
}
#login .title{
	position:absolute;
	left:2px;
	top:16px;
	color: #000;
}
#login .input1{
	position:absolute;
	left:313px;
	top:155px;
}
#login .input2{
	position:absolute;
	left:314px;
	top:250px;
}
#login .text_input{
	width:330px;
	height:45px;
	color: #000;
	font-size:20px;
}
#login .forgotten{
	position:absolute;
	left:314px;
	top:389px;
	color: #000;
	width: 330px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
#login .register{
	position:absolute;
	left:314px;
	top:423px;
	color: #000;
	width: 330px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
#login a{
	text-decoration:none;
	color:#000;
}
#login a:hover{
	color:#f00;
}
#login .base{
	position:absolute;
	bottom:0px;
}
#forgotten{
	display:none;
	position:absolute;
	left:0px;
	top:65px;
	width:960px;
	height:585px;
	font-family:heading-font;
	color:#000f;
	font-size:18px;
	background:#fff;
}
#forgotten .error{
	display:none;
	position:absolute;
	left:657px;
	top:257px;
	width:220px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #f00;
}
#forgotten .label1{
	position:absolute;
	left:312px;
	top:121px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
#forgotten .message{
	position:absolute;
	left:312px;
	top:212px;
	width:330px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
#forgotten .submitBtn{
	position:absolute;
	left:420px;
	top:330px;
	width: 122px;
	height: 40px;
	color: #fff;
	font-size:22px;
	font-family:heading-font;
	background: #f9766f;
	border:none;
}
#forgotten .back{
	position:absolute;
	left:22px;
	top:60px;
	font-size:16px;
	color: #000;
}
#forgotten .title{
	position:absolute;
	left:2px;
	top:16px;
	color: #000;
}
#forgotten .input1{
	position:absolute;
	left:313px;
	top:155px;
	width:300px;
}
#forgotten .text_input{
	width:330px;
	height:45px;
	color: #000;
	font-size:20px;
}
#forgotten a{
	text-decoration:none;
	color:#000;
}
#forgotten a:hover{
	color:#f00;
}
#forgotten .base{
	position:absolute;
	bottom:0px;
}
#register{
	display:none;
	position:absolute;
	top:65px;
	width:960px;
	height:585px;
	font-family:heading-font;
	color:#000f;
	font-size:18px;
	background:#fff;
}
#register .back{
	display:none;
	position:absolute;
	left:22px;
	top:60px;
	font-size:16px;
	color: #000;
}
#register .back a{
	text-decoration:none;
	color:#000;
}
#register .back a:hover{
	color:#f00;
}
#register li{
	list-style:none;
	margin-bottom:5px;
}
#register .error{
	display:none;
	position:absolute;
	left:729px;
	top:263px;
	width:220px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #f00;
}
#register .title{
	position:absolute;
	left:2px;
	top:16px;
	color: #000;
}
#register .list{
	position:absolute;
	width:550px;
	left: 172px;
	top: 13px;
}
#register .heading{
	font-size:28px;
}
#register .label{
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:right;
	width:150px;
	padding-right:10px;
}
#register .checkbox{
	width:60px;
	height:20px;
	margin-right:270px;
}
#register .spinner{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	width:60px;
	height:20px;
}
#register .team-info{
	display:inline; 
	width:270px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
}
#register .text_input{
	width:330px;
	height:38px;
	color: #000;
	font-size:16px;
}
#register .text_inputb{
	width:330px;
	height:38px;
	color: #000;
	font-size:14px;
}
#register .text_area{
	width:330px;
	height:80px;
	color: #000;
	font-size:14px;
}
#register .submitBtn{
	position:absolute;
	left:419px;
	top:481px;
	width: 122px;
	height: 40px;
	color: #fff;
	font-size:22px;
	font-family:heading-font;
	background: #f9766f;
	border:none;
}
#register .base{
	position:absolute;
	bottom:0px;
}
#register a{
	text-decoration:none;
	color:#fff;
}
#diary{
	display:none;
	position:absolute;
	left:25px;
	top:17px;
}
#diary .tabs{
	position:absolute;
	left:60px;
	top:32px;
	width:750px;
	height:23px;
	background-image:url(images/diary_tabs0001.png);
}
#diary .close{
	position:absolute;
	left:836px;
	top:14px;
	width:47px;
	height:47px;
	background-image:url(images/close.png);
}
#diary .title{
	position:absolute;
	left:46px;
	top:56px;
	font-family:diary-font;
	font-size:18px;
	color:#000;
	width: 337px;
}
#diary .text_left{
	position:absolute;
	left:62px;
	top:95px;
	height: 449px;
}
#diary .text_right{
	position:absolute;
	left:467px;
	top:68px;
	height: 476px;
}
#diary .text_area1{
	font-family:diary-font;
	font-size:14px;
	color:#000;
	width: 337px;
	height:449px;
	background:none;
	border:none;
	overflow:hidden;
}
#diary .text_area2{
	font-family:diary-font;
	font-size:14px;
	color:#000;
	width: 337px;
	height:476px;
	background:none;
	border:none;
	overflow:hidden;
}
#course_start{
	display:none;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	top:60px;
	width:960px;
	height:590px;
	background:#fff;
}
#course_start .next-btn{
	font-family:heading-font;
	font-size:18px;
	color:#F93228;
	position:absolute;
	right:27px;
	top:360px;
	background-image:url(images/red_arrow.png);
	background-repeat:no-repeat;
	text-align:right;
	width: 100px;
	padding-right: 20px;
	background-position: right center;
}
#course_start .title{
	position:absolute;
	left:4px;
	top:-2px;
	color:#f00;
	font-family:heading-font;
	font-size:36px;
}
#course_start .subtitle{
	position:absolute;
	left:2px;
	top:410px;
	color:#f00;
	font-family:heading-font;
	font-size:26px;
}
#course_start .hello{
	position:absolute;
	left:23px;
	top:45px;
}
#course_start .congrats{
	position:absolute;
	left:21px;
	top:88px;
	width: 919px;
	line-height:1.2;
}
#course_start .text{
	position:absolute;
	left:18px;
	top:454px;
	width: 919px;
	line-height:1.2;
}
#course_start .base{
	position:absolute;
	bottom:0px;
}
#course_start .slider1{
	position:absolute;
	left:17px;
	top:225px;
	height: 123px;
	width: 975px;
	border-radius:25px;
	background: #f9c9c6;
}
#course_start .slider2{
	position:absolute;
	left:17px;
	top:288px;
	height: 123px;
	width: 975px;
	border-radius:25px;
	background: #f9c9c6;
}
#course_start .start_module{
	position:absolute;
	right:6px;
	bottom:1px;
	width:162px;
	height:50px;
	background-image:url(images/start_module.png);
}
#course_end{
	display:none;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	top:60px;
	width:960px;
	height:590px;
	background:#fff;
	/*background-image:url(images/layout.jpg);*/
}
#course_end .title{
	position:absolute;
	left:4px;
	top:-2px;
	color:#f00;
	font-family:heading-font;
	font-size:36px;
}
#course_end .text{
	position:absolute;
	left:21px;
	top:46px;
	width: 919px;
	line-height:1.2;
}
#course_end .subheading {
	position:absolute;
	left:21px;
	top:255px;
	font-family: heading-font;
	color: #006DB6;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 10px;	 
	font-size: 22px;
	line-height: 110%;
}
#course_end .base{
	position:absolute;
	bottom:0px;
}
#course_end .slider1{
	position:absolute;
	left:17px;
	top:300px;
	height: 123px;
	width: 975px;
	border-radius:25px;
	background: #f9c9c6;
}
#course_end .next-btn{
	font-family:heading-font;
	font-size:18px;
	color:#F93228;
	position:absolute;
	right:27px;
	top:430px;
	background-image:url(images/red_arrow.png);
	background-repeat:no-repeat;
	text-align:right;
	width: 100px;
	padding-right: 20px;
	background-position: right center;
}
#course_end .next-btn a{
	text-decoration:none;
	color:#F93228;
}

#course_end .slider2{
	position:absolute;
	left:17px;
	top:404px;
	height: 123px;
	width: 975px;
	border-radius:25px;
	background: #f9c9c6;
}
#course_end .download_certificate{
	position:absolute;
	left:11px;
	bottom:-8px;
	width:162px;
	font-family:heading-font;
	font-size:20px;
	color:#fff;
	height: 55px;
	line-height:1em;
	text-align: center;
}
#course_end a{
	text-decoration:none;
	color:#fff;
}

#wsas{
	display:none;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	top:134px;
	width:960px;
	height:452px;
	background:#fff;
	left: 0px;	/*background-image:url(images/layout.jpg);*/
}
#wsas .title{
	position:absolute;
	left:2px;
	top:0px;
	color:#f00;
	font-family:heading-font;
	font-size:36px;
	width: 749px;
}
#wsas .text{
	position:absolute;
	left:19px;
	top:92px;
	width: 749px;
	line-height:1.2;
}
#wsas .base{
	position:absolute;
	bottom:0px;
}
#wsas .slider1{
	position:absolute;
	left:19px;
	top:218px;
	height: 123px;
	width: 975px;
	border-radius:25px;
	background: #f9c9c6;
}
#wsas .progress{
	position:absolute;
	left:19px;
	top:186px;
	width: 222px;
}
#wsas .feedback{
	position:absolute;
	font-family:heading-font;
	font-size:28px;
	left:20px;
	top:257px;
	width: 803px;
	color:#006DB6;
	display: none;
}
#wsas .back-btn{
	position:absolute;
	left:19px;
	top:357px;
	font-family:heading-font;
	font-size:18px;
	background-image:url(images/back_arrow.png);
	background-repeat:no-repeat;
	width: 100px;
	padding-left: 20px;
	background-position: left center;
}
#wsas .skip-btn{
	position:absolute;
	left:446px;
	top:360px;
	font-family:heading-font;
	font-size:18px;
	width: 100px;
	text-align: center;
}
#wsas .next-btn{
	position:absolute;
	left:824px;
	top:357px;
	font-family:heading-font;
	font-size:18px;
	background-image:url(images/next_arrow.png);
	background-repeat:no-repeat;
	text-align:right;
	width: 100px;
	padding-right: 20px;
	background-position: right center;
}
#wsas a{
	text-decoration:none;
	color:#006DB6;
}
#wsas a:hover{
	color:#00ADE6;
}

.slider_bg{
	display:none;
	position:relative;
	width:100%;
	height:100%;
	border-radius:25px;
	background: #f9c9c6;
}
.slider_title{
	position:absolute;
	left:64px;
	top:6px;
	width:800px;
	text-align:center;
}
.slider_label1{
	position:absolute;
	left:18px;
	top:74px;
	width:100px;
	text-align:center;
}
.slider_label2{
	position:absolute;
	left:809px;
	top:76px;
	width:100px;
	text-align:center;
}
.slider_scale{
	position:absolute;
	left:135px;
	top:99px;
	width:664px;
	letter-spacing: 26px;
}
.slider_scale10{
	position:absolute;
	left:777px;
	top:99px;
}
.slider{
	position:absolute;
	left:140px;
	top:58px;
	height:50px;
	width:648px;
}
#question-buttons{
	display:none;
	position:absolute;
	bottom:50px;
	left:15px;
	height:200px;
}
#question-buttons .buttons{
	width:605px;
	height:66px;
	overflow:hidden;
	position: absolute;
	bottom: 0px;
}
#question-buttons .popup {
	display:none;
	position: absolute;
	left: 75px;
	top: 100px;
}
#question-buttons .buttons a{
	text-decoration:none;
	font-size:60px;
	color:#fff;
	width:76px;
	height:66px;
	background:#00f;
	float: left;  
	text-align: center; 
	margin-right:70px; 
	border-radius: 25px;
}
#question-buttons ul {  
	padding: 0;  
	margin: 0;  
}
#question-buttons li {  
    display:inline;
	line-height:66px; 
}
#question-buttons .close {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}
#question-buttons .button {  
	font-size:60px;
	color:#fff;
	width:76px;
	height:66px;
	background:#00f;
}
#question-buttons .bg {
	position: absolute;
	background: #FFFFFF;
	width: 399px;
	height: 223px;
	border-radius: 25px;
	box-shadow: 0px 0px 20px #666666;
	left: 12px;
	top: -213px;
}
#question-buttons .text {
	color: #000000;
	margin-left: 25px;
	margin-top: 25px;
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	width: 300px;
	height: 180px;
	overflow-y:auto;
}
#pairs{
	display:none;
	position:absolute;
	left:16px;
	top:210px;
	width:682px;
	height:370px;
}
#pairs .pairs_table{
	display:table;
}
#pairs .pairs_row{
	display:table-row;
	line-height:1;
}
#pairs .pair_btn{
	display:table-cell;
	background-color:#5DBDFF;
	width:250px;
	height:50px;
	border-radius:16px;
	line-height:1;
	vertical-align:middle;
	text-align:center;
	margin-right:20px;
	margin-bottom:10px;
}
#pairs .holder{
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}
#pairs .tickcross{
	display:none;
	float:left;
	width:34px;
	height:30px;
	padding: 8px 0px 8px 0px;
	background:url(images/tick.png) no-repeat 0px 8px;
}
#pairs .pairs_row a{
	text-decoration:none;
	color:#000;
	font-size:18px;
}
#pairs .done_btn{
	position:absolute;
	left:594px;
	top:0px;
	width:82px;
	height:44px;
	background:#006DB6;
	font-family:heading-font;
	font-size:24px;
	color:#fff;
	text-align:center;
	line-height:2;
}
#pairs .done_btn a{
	text-decoration:none;
}

#drag_activity{
	display:none;
	position:absolute;
	top:0px;
	width:960px;
	height:650px;
	/*background-image:url(images/layout.jpg);*/
	background:#fff;
}
#drag_activity .title {
	display:block;
	position: absolute;
	font-family:heading-font;
	font-size:30px;
	color:#008c46;
	left: 0px;
	top:120px;
	width:900px;
}
#drag_activity .maintext {
	display:block;
	position: absolute;
	left: 21px;
	top:160px;
	width:900px;
}
#drag_activity .drag_box {
	display:block;
	position: absolute;
	left: 334px;
	top: 276px;
	width:300px;
	height:95px;
	background:#00CC66;
	cursor: pointer;
}
#drag_activity .drag_text {
	display:block;
	position: absolute;
	left: 56px;
	top: 10px;
	width:227px;
	height:74px;
}
#drag_activity .drag_question {
	display:block;
	position: absolute;
	left: 1px;
	top: -22px;
	font-size:100px;
	color:#00E773;
}
#drag_activity .yes_box {
	display:block;
	position: absolute;
	left: -29px;
	top: 375px;
	width:470px;
	height:245px;
	background-image:url(images/yes-box.png);
}
#drag_activity .no_box {
	display:block;
	position: absolute;
	left: 523px;
	top: 374px;
	width:408px;
	height:245px;
	background-image:url(images/no-box.png);
}
#drag_activity .popup {
	display:none;
	position: absolute;
	left: 75px;
	top: 100px;
}
#drag_activity .bg {
	position: absolute;
	background: #FFFFFF;
	width: 399px;
	height: 223px;
	border-radius: 25px;
	box-shadow: 0px 0px 20px #666666;
	left: 405px;
	top: 39px;
}
#drag_activity .text {
	color: #EE3224;
	margin-left: 25px;
	margin-top: 25px;
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	width: 250px;
}
#drag_activity .pointer {
	position: absolute;
	left: 283px;
	top: 220px;
	width:62px;
	height:35px;
	background-image:url(images/triangle.png);
}
#drag_activity .close {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}
/* jquery slider */
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

#popup_panel {
	display:none;
	position: absolute;
	left: 75px;
	top: 100px;
}
#popup_panel .bg {
	position: absolute;
    background: #FFFFFF;
    width: 800px;
	height: 470px;
    border-radius: 25px;
	box-shadow: 0px 0px 20px #666666;
}
#popup_panel .text {
	color: #000000;
	margin-left: 25px;
	margin-top: 25px;
	font-size: 16px;
	text-align: left;
	line-height: 110%;
	width: 450px;
	height: 420px;
	overflow-y:auto;
}
#popup_panel .pic {
	position: absolute;
	width: 300px;
	right: 15px;
	bottom: 15px;	
}
#popup_panel .close {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}

#quiz{
	display:none;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	top:60px;
	width:960px;
	height:590px;
	background:#fff;
	/*background-image:url(images/layout.jpg);*/
}
#quiz .title{
	position:absolute;
	left:4px;
	top:-2px;
	color:#f00;
	font-family:heading-font;
	font-size:36px;
}
#quiz .progress{
	position:absolute;
	left:21px;
	top:188px;
	color:#f00;
	font-family:heading-font;
	font-size:20px;
	width: 449px;
}
#quiz .text{
	position:absolute;
	left:21px;
	top:46px;
	width: 919px;
	line-height:1.2;
}
#quiz .question{
	position:absolute;
	left:22px;
	top:232px;
	width: 919px;
	line-height:1.2;
	height: 54px;
}
#quiz .base{
	position:absolute;
	bottom:0px;
}
#quiz .answer_bg{
	background-color:#f9CFCD;
	width:880px;
	height:49px;
}
#quiz .answer_title{
	position:absolute;
	left:10px;
	top:13px;
	width: 852px;
}
#answer1 {
	position:absolute; 
	left:17px; 
	top:297px;
}
#answer2 {
	position:absolute; 
	left:17px; 
	top:365px;
}
#answer3 {
	position:absolute; 
	left:17px; 
	top:431px;
}
#quiz .answer{
	color:#000;
}
#quiz .answer a{
	text-decoration:none;
	color:#000;
}
#quiz .answer a:hover{
	color:#F93228;
}

#quiz .answer_tick{
	display:none;
	position:absolute;
	left:892px;
	top:10px;
	background-image:url(images/tick.png);
	width:35px;
	height:30px;
}


#quiz .complete{
	display:none;
	position:absolute;
	left:786px;
	bottom:-16px;
	width:162px;
	font-family:heading-font;
	font-size:24px;
	color:#fff;
	height: 55px;
	line-height:1em;
	text-align: center;
}

#quiz .next-btn{
	font-family:heading-font;
	font-size:18px;
	color:#F93228;
	position:absolute;
	right:27px;
	top:498px;
	background-image:url(images/red_arrow.png);
	background-repeat:no-repeat;
	text-align:right;
	width: 100px;
	padding-right: 20px;
	background-position: right center;
}

#quiz .next-btn a{
	text-decoration:none;
	color:#F93228;
}
#quiz .next-btn a:hover{
	color:#000;
}
